{% extends 'base.html.twig' %}

{% block title %}Weather{% endblock %}

{% block body %}
<form method="post">

    <h1 class="h3 mb-3 font-weight-normal">Please provide your city</h1>

    <label for="inputCity">City</label>
    <input name="city" id="inputCity" class="form-control" required>

    <button class="btn btn-lg btn-primary" type="submit">
        Send
    </button>

    <br>
    <br>
    {% if tempAverage and city %}
        Current weather in {{ city }}:
        <div class="alert alert-danger">{{ temp1 }} 째C (OpenWeatherMap.org)</div>
        <div class="alert alert-danger">{{ temp2 }} 째C (WeatherAPI.com)</div>
        <div class="alert alert-danger">{{ tempAverage }} 째C (average)</div>
        {% if history %}
            <br>
            History for {{ city }}:
            <ul>
                {% for log in history %}
                    <li>{{ log.time | date('d-m-Y, h:m:s') }}: {{ log.temp }} 째C</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% elseif error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
</form>
{% endblock %}
